body{
    padding: top 60px ;
}
.home-container{
    margin: 0%;
    padding: 0%;
   
}
.navbar{
    position: sticky;
    top: 0px;
    
}
.center-layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    /* padding-left: 20%; */
    
    
}
.left-aside-layout{
 /* position: static; */
 width: 20%;
 position: fixed;
 top:9999;
 /* background-color: rgba(245, 245, 247,0.9); */

}


.main-layout{
    background-color:rgba(183, 183, 183,0.4) ;
    opacity: 0.8;
    width: 60%;
    display: flex;
flex-direction: column;
align-items: center;
height: auto;
margin-left: 20%;

}


